@charset 'UTF-8';
@import 'base';
@import 'function';
@import 'ext/btn';
@import 'ext/flexbox';
@import 'jquery.fullPage';
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

html,
body {
    position: relative;
    height: 100%;
}

.top-nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 120px;
    font-family: 'Microsoft YaHei';
    // background: #466987;
    //background: url('../img/top_bg.png') no-repeat center top;
    @include bgcolor-alpha($bgcolor: rgba(24, 46, 77, 0.3));
    .tn-header {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        font-family: "Microsoft YaHei", "SimSun";
        color: #fff;
        .tn-logo {
            float: left;
            margin-left: 15px;
            height: 120px;
            line-height: 120px;
            overflow: hidden;
            span {
                display: inline-block;
                vertical-align: middle;
                width: 280px;
                height: 66px;
                overflow: hidden;
                background: url('../img/idx_nav.png') no-repeat;
            }
        }
        .tn-main {
            margin-right: 15px;
            float: right;
            li {
                padding: 5px 14px 0px 14px;
                float: left;
                @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 115px);
                a {
                    color: #fff;
                    &:hover {
                        color: yellow;
                    }
                }
                &.active {
                    border-top: 5px solid #08EDCE;
                    padding: 0 14px 0;
                    a {
                        color: #00CCFE;
                    }
                }
            }
        }
    }
}

#canvasPIXI {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.whfull {
    width: 100%;
    height: 100%;
}

.tit-warning {
    height: 118px;
    text-align: center;
    @include font-fsc1($f-sty: $fontYaHei, $fs: 2.6em, $fc: #6D6879, $f-lh: 118px);
}

.section-bottom-txt {
    position: absolute;
    left: 0;
    bottom: 5%;
    padding: 15px 5%;
    @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 220%);
    @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
}

.section {
    background-size: cover;
    h1 {
        display: inline-block;
        position: absolute;
        left: 5%;
        top: 8%;
        width: 200px;
        height: 47px;
        overflow: hidden;
        background-repeat: no-repeat;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
}

#mainQuote {
    h4 {
        font-size: 27px;
    }
    p {
        text-align: left;
    }
}

#section0 {
    background-image: url(../img/s0_bg.png);
    background-repeat: no-repeat;
    #bg {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        opacity: 0
    }
    #mainQuoteAll {
        position: fixed;
        width: 360px;
        height: 120px;
        top: 0;
        left: 0;
        overflow: hidden;
        visibility: hidden
    }
    #mainQuoteHidden {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden
    }
    #mainQuote {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        letter-spacing: 0;
        font-family: "Playfair Display";
        color: #fff;
        font-size: 27px;
        line-height: 30px;
        font-style: italic;
        text-align: center
    }
    .lineQuote {
        width: 75px;
        position: absolute;
        background-color: #a69382;
        height: 1px;
        opacity: 1
    }
    #lineQuote1 {
        left: 0;
        bottom: 8px
    }
    #lineQuote2 {
        right: 0;
        bottom: 8px
    }
    #lineQuote3 {
        left: 80px;
        bottom: 8px;
        width: 200px;
        opacity: 0
    }
    #secondQuote {
        position: absolute;
        font-family: pt_sans;
        color: #a69382;
        font-size: 11px;
        line-height: normal;
        font-style: normal;
        letter-spacing: 2.5px;
        text-align: center;
        width: 100%;
        bottom: 0
    }
    .stage_area {
        height: 500px;
        width: 800px;
        padding: 0 100px;
        position: absolute;
        bottom: 100px;
        right: 70px;
        overflow: hidden;
        .swiper-container{
            position: absolute;
            top: 10%;
            bottom: 10%;
            left: 100px;
            right: 100px;
            overflow: visible;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            .swiper-wrapper{
                height: 90%;
                width: 45%;
            }
        }
        .swiper-container.cur{
            opacity: 1;
            visibility: visible;
        }
        .swiper-slide{
            background: #182746;
            border: 5px solid #147675;
            color: white;

            h4 {
                margin: 0;
                padding: 10px;
                font-size: 16px;
            }
            p {
                margin: 0;
                padding: 0 10px;
                line-height: 20px;
                font-size: 14px;
            }
        }
    }
    .container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 0.6s ease-out;
        opacity: 0;
        visibility: hidden;
    }
    .container.cur {
        opacity: 1;
        visibility: visible;
    }
    .item {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        font-size: 12px;
        color: white;
        background: #182746;
        border: 5px solid #147675;
        cursor: pointer;
    }
    .item0 {
        transform: rotateY(-60deg) translateZ(300px);
        -ms-transform: rotateY(-60deg) translateZ(300px);
        -moz-transform: rotateY(-60deg) translateZ(300px);
        -webkit-transform: rotateY(-60deg) translateZ(300px);
        -o-transform: rotateY(-60deg) translateZ(300px);
    }
    .item1 {
        transform: rotateY(0deg) translateZ(300px);
        -ms-transform: rotateY(0deg) translateZ(300px);
        -moz-transform: rotateY(0deg) translateZ(300px);
        -webkit-transform: rotateY(0deg) translateZ(300px);
        -o-transform: rotateY(0deg) translateZ(300px);
    }
    .item2 {
        transform: rotateY(60deg) translateZ(300px);
        -ms-transform: rotateY(60deg) translateZ(300px);
        -moz-transform: rotateY(60deg) translateZ(300px);
        -webkit-transform: rotateY(60deg) translateZ(300px);
        -o-transform: rotateY(60deg) translateZ(300px);
    }
}

.section-tit {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 140px;
    height: 20px;
    overflow: hidden;
    background: url(../img/tit@2.png);
}

#section0 #mainQuoteAll {
    top: 450px;
    left: 270px;
    opacity: 0;
    transition: all 5s;
}

#section0.swiper-slide-active {
    #mainQuoteAll.showMainQuoteAll {
        opacity: 1;
    }
}

#section1 {
    background: url(../img/damand_bg.png) center center #0A2F41;
    h1 {
        background: url(../img/tit-glsj.png) center center;
    }
    .s1-log {
        display: inline-block;
        position: absolute;
        margin: auto 0;
        left: 10%;
        top: 0;
        right: 0;
        bottom: 0;
        width: 360px;
        height: 256px;
        background: url(../img/s1_logo@2.png);
    }
    .s1-img {
        display: inline-block;
        position: absolute;
        margin: auto 0 auto 5%;
        left: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        padding:10px 0 0 10px;
        width: 500px;
        height: 360px;
        overflow: hidden;
        //background: url(../img/s1_img@2.png);
        li {
            position: relative;
            z-index: 1;
            float: left;
            margin: 0 10px 6% 10px;
            width: 100px;
            height: 100px;
            @include border-radius(5px);
            @include box-sizing;
            text-transform:none;
            -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s;
            &:nth-of-type(1) {
                background: #EBC54A;
            }
            &:nth-of-type(2) {
                background: #DDDDDB;
            }
            &:nth-of-type(3) {
                background: #DE6A97;
            }
            &:nth-of-type(4) {
                background: #6695C5;
            }
            &:nth-of-type(5) {
                background: #C66251;
            }
            &:nth-of-type(6) {
                background: #EBC24E;
            }
            &:nth-of-type(7) {
                background: #497ABF;
            }
            &:nth-of-type(8) {
                background: #899FB4;
            }
            &:nth-of-type(9) {
                background: #CD5A5D;
            }
            &:nth-of-type(10) {
                background: #EA9959;
            }
            &:nth-of-type(11) {
                background: #727DCA;
            }
            &::before {
                content: '';
                position: absolute;
                // top: -20px;
                // left: -20px;
                // bottom: -20px;
                // right: -20px;
                @include box-sizing;
                background: inherit;
                border-radius:5px;
                z-index: -1;
                opacity: 0.4;
                -webkit-transform: scale3d(0.8, 0.5, 1);
                transform: scale3d(0.8, 0.5, 1);
            }
            &:hover {
                cursor: pointer;
                -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
                transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
                color: #ECEFF1;
                @include box-sizing;
                //background-color: #3f51b5;
                -webkit-animation: anim-moema-1 0.3s forwards;
                animation: anim-moema-1 0.3s forwards;
                &::before{
                    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
                    animation: anim-moema-2 0.3s 0.3s forwards;
                }
            }
        }
    }
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#section2 {
    background: url(../img/damand_bg.png) center center #444081;
    h1 {
        background: url(../img/tit-tsyj.png) center center;
    }
    .board {
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10%;
        width: 25%;
        height: 70%;
        padding: 20px;
        color: #fff;
        transform: translate(0, -50%);
        border: 1px solid #929DD6;
        @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
        h2 {
            margin-bottom: 1em;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 1.8em, $fc: #fff, $f-lh: 220%);
        }
        p {
            @include font-fsc1($f-sty: $fontYaHei, $fs: 1.4em, $fc: #fff, $f-lh: 220%);
        }
        transition: all 0.5s;
    }
    .stage_layer {
        position: absolute;
        height: 600px;
        width: 660px;
        left: 13%;
        top: 15%;
        perspective: 1800px;
    }
    .contain {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 1s;
        border-radius: 5px;
        border: 1px solid #8D71A9;
    }
    &.swiper-slide-active {
        .board.cur {
            opacity: 1;
        }
        .contain {
            opacity: 1;
            transform: rotateX(54deg) rotateZ(-25deg);
        }
    }
    // .come-in {
    //     transform: rotateX(60deg) rotateZ(30deg);
    // }
    .item {
        @include box-sizing;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.8;
        transform: scale(1);
        transition: all 0.5s;
        border: 1px solid #fff;
    }
    .item.cur {
        opacity: 1;
    }
    .item0 {
        transform: translateX(50px) translateZ(150px);
        background: url(../img/s2_img1.png) center center;
        background-size: 100% 100%;
    }
    .item0.cur {
        transform: scale(1.2) translateX(50px) translateZ(150px);
    }
    .item1 {
        transform: translateZ(0px);
        background: url(../img/s2_img2.png) center center;
        background-size: 100% 100%;
    }
    .item1.cur {
        transform: scale(1.2) translateZ(0px);
    }
    .item2 {
        background: red;
        transform: translateX(-50px) translateZ(-150px);
    }
    .item2.cur {
        transform: scale(1.2) translateX(-50px) translateZ(-150px);
    }
}

#section3 {
    background: url(../img/damand_bg.png) center center #28233B;
    h1 {
        background: url(../img/tit-yjzt.png) center center;
    }
    .zt-list {
        position: absolute;
        @include flexbox;
        @include flex-wrap($value: wrap);
        @include align-content($value: space-around);
        @include justify-content($value: space-between);
        top: 50%;
        left: 50%;
        width: 80%;
        height: 70%;
        overflow: hidden;
        transform: translate(-50%, -50%);
        li {
            width: 30%;
            height: 45%;
            text-align: center;
            .boxbg {
                padding: 5%;
                height: 90%;
                // background:#231E2D;
                @include bgcolor-alpha($bgcolor: rgba(35, 30, 41, 0.6));
                .imgbox {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: url(../img/s3_img.png) center center;
                    background-size: 100% 100%;
                    h4 {
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 60px);
                        font-weight: normal;
                        text-shadow: 5px 2px 6px #000;
                        letter-spacing: 4px;
                        -webkit-transition: bottom 0.6s ease;
                        -moz-transition: bottom 0.6s ease;
                        -o-transition: bottom 0.6s ease;
                        transition: bottom 0.6s ease;
                        -webkit-transition: top 0.6s ease;
                        -moz-transition: top 0.6s ease;
                        -o-transition: top 0.6s ease;
                        transition: top 0.6s ease;
                    }
                    &:hover {
                        cursor: pointer;
                        h4 {
                            top: 10px;
                            bottom: inherit;
                        }
                    }
                }
            }
        }
    }
}

$animateBorderColor: rgba(25,
30,
28,
0.5);
$pulsateSize: 12px;
$pulsateBigSize: 14px;
.contain-zt-list {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 18%;
    bottom: 10%;
    text-align: center;
    .item {
        height: 40%;
        width: 26%;
        margin: 2% 2% 1%;
        display: inline-block;
        position: relative;
        background: url(../img/s3_img.png) no-repeat center center;
        background-size: 100%;
        color: #ffffff;
        border: $pulsateSize solid rgba(25, 30, 28, 1);
        .item-inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
        }
        h4,
        p {
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.3s;
        }
        h4 {
            height: 30px;
            top: 50%;
            margin-top: -15px;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 30px);
            font-weight: normal;
            text-shadow: 5px 2px 6px #000;
            letter-spacing: 4px;
        }
        p {
            bottom: -120px;
            padding: 20px 30px;
            height: 80px;
            text-align: left;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 28px);
            background: rgba(255, 255, 255, 0.3);
        }
    }
    .item:after {
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
    .item:hover {
        -webkit-animation: pulsate-big 0.8s infinite ease-in-out alternate;
        -webkit-animation-delay: 0.5s;
        -webkit-animation-timing-function: ease-out;
        h4 {
            margin-top: -70px;
        }
        p {
            bottom: 0;
        }
    }
    .item:hover:after {
        -webkit-animation: pulsate 0.8s infinite ease-in-out alternate;
        -webkit-animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateSize $animateBorderColor
    }
}

@-moz-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateSize $animateBorderColor
    }
}

@-webkit-keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateBigSize $animateBorderColor
    }
}

#section4 {
    background: url(../img/damand_bg.png) center center #502373;
    h1 {
        background: url(../img/tit-ljtj.png) center center;
    }
    .logic-switch {
        position: absolute;
        opacity: 0;
        left: 5%;
        top: 20%;
        bottom: 10%;
        width: 20%;
        text-align: center;
        .logic-switch-btn {
            display: block;
            width: 230px;
            ;
            margin: 18% auto 30px;
            height: 74px;
            border: 2px solid #fff;
            @include border-radius(40px);
            text-align: center;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 24px, $fc: #fff, $f-lh: 68px);
            cursor: pointer;
            &.active {
                color: #4B2073;
                background: #fff;
            }
        }
    }
    .logic-imgs {
        position: absolute;
        opacity: 0;
        right: 5%;
        top: 18%;
        bottom: 10%;
        width: 70%;
        transition: all 0.5s;
        li {
            position: relative;
            margin: 2% 1%;
            padding: 2%;
            display: inline-block;
            height: 40%;
            width: 26%;
            border: 1px solid #876093;
            @include bgcolor-alpha($bgcolor: rgba(87, 42, 79, 0.4));
            .box {
                display: inline-block;
                height: 100%;
                width: 100%;
                color: #ffffff;
                // background: url(../img/s3_img.png) center center no-repeat;
                background-size: 100% 100%;
                text-align: center;
                .swiper-container {
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        background-position: center;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                h4 {
                    position: absolute;
                    opacity: 0;
                    z-index: 1;
                    margin: auto;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    font-weight: normal;
                    letter-spacing: 4px;
                    @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 60px);
                    webkit-transition: opacity 0.6s ease;
                    -moz-transition: opacity 0.6s ease;
                    -o-transition: opacity 0.6s ease;
                    transition: opacity 0.6s ease;
                }
                h3 {
                    @extend h4;
                    opacity: 0;
                    bottom: -160%;
                    color: #000;
                    webkit-transition: opacity 1.2s ease;
                    -moz-transition: opacity 1.2s ease;
                    -o-transition: opacity 1.2s ease;
                    transition: opacity 1.2s ease;
                }
                p {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    bottom: -70%;
                    opacity: 0;
                    text-align: left;
                    @include font-fsc1($f-sty: $fontYaHei, $fs: 18px, $fc: #fff, $f-lh: 200%);
                    webkit-transition: opacity 1.2s ease;
                    -moz-transition: opacity 1.2s ease;
                    -o-transition: opacity 1.2s ease;
                    transition: opacity 1.2s ease;
                }
                .swiper-slide-active {
                    h4 {
                        opacity: 1;
                    }
                    h3 {
                        opacity: 0;
                    }
                }
                &:hover {
                    .swiper-slide-active{
                         h4 {
                             opacity: 0;
                         }
                         p,
                         h3 {
                             opacity: 1;
                         }

                     }
                }
            }
        }
        &.active {
            opacity: 1;
        }
    }
    &.swiper-slide-active {
        .logic-switch {
            opacity: 1;
        }
    }
}

#section5 {
    background: #1A062A;
    .s5-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 8px;
        background: url(../img/s5_top_bg.png) repeat-x left top;
    }
    .s5-logo {
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 220px;
        height: 150px;
        background: url(../img/s1_logo@2.png);
        background-size: 100% 100%;
    }
}

@import 'media';
