@charset 'UTF-8';
@import 'base';
@import 'function';
@import 'ext/btn';
@import 'ext/flexbox';
@import 'jquery.fullPage';
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.top-nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 120px;
    font-family: 'Microsoft YaHei';
    // background: #466987;
    //background: url('../img/top_bg.png') no-repeat center top;
    @include bgcolor-alpha($bgcolor: rgba(24, 46, 77, 0.3));
    .tn-header {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        font-family: "Microsoft YaHei", "SimSun";
        color: #fff;
        .tn-logo {
            float: left;
            margin-left: 15px;
            height: 120px;
            line-height: 120px;
            overflow: hidden;
            span {
                display: inline-block;
                vertical-align: middle;
                width: 280px;
                height: 66px;
                overflow: hidden;
                background: url('../img/idx_nav.png') no-repeat;
            }
        }
        .tn-main {
            margin-right: 15px;
            float: right;
            li {
                padding: 5px 14px 0px 14px;
                float: left;
                @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 115px);
                a {
                    color: #fff;
                    &:hover {
                        color: yellow;
                    }
                }
                &.active {
                    border-top: 5px solid #08EDCE;
                    padding: 0 14px 0;
                    a {
                        color: #00CCFE;
                    }
                }
            }
        }
    }
}

#canvasPIXI {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.section {
    background-size: cover;
    h1 {
        display: inline-block;
        position: absolute;
        left: 5%;
        top: 8%;
        width: 200px;
        height: 47px;
        overflow: hidden;
        background-repeat: no-repeat;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
}

#section0 {
    background-image: url(../img/s0_bg.png);
    background-repeat: no-repeat;
    #bg {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        opacity: 0
    }
    #mainQuoteAll {
        position: fixed;
        width: 360px;
        height: 120px;
        top: 0;
        left: 0;
        overflow: hidden;
        visibility: hidden
    }
    #mainQuoteHidden {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden
    }
    #mainQuote {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        letter-spacing: 0;
        font-family: "Playfair Display";
        color: #fff;
        font-size: 27px;
        line-height: 30px;
        font-style: italic;
        text-align: center
    }
    .lineQuote {
        width: 75px;
        position: absolute;
        background-color: #a69382;
        height: 1px;
        opacity: 1
    }
    #lineQuote1 {
        left: 0;
        bottom: 8px
    }
    #lineQuote2 {
        right: 0;
        bottom: 8px
    }
    #lineQuote3 {
        left: 80px;
        bottom: 8px;
        width: 200px;
        opacity: 0
    }
    #secondQuote {
        position: absolute;
        font-family: pt_sans;
        color: #a69382;
        font-size: 11px;
        line-height: normal;
        font-style: normal;
        letter-spacing: 2.5px;
        text-align: center;
        width: 100%;
        bottom: 0
    }
    .stage_area {
        height: 320px;
        width: 320px;
        position: absolute;
        bottom: 200px;
        right: 300px;
        perspective: 1000px;
    }
    .container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 0.6s ease-out;
        opacity: 0;
        visibility: hidden;
    }
    .container.cur {
        opacity: 1;
        visibility: visible;
    }
    .item {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        font-size: 12px;
        color: white;
        background: #182746;
        border: 5px solid #147675;
      cursor: pointer;
    }
    .item h4 {
        margin: 0;
        padding: 10px;
    }
    .item p {
        margin: 0;
        padding: 0 10px;
        line-height: 20px;
    }
    .item0 {
        transform: rotateY(-60deg) translateZ(300px);
    }
    .item1 {
        transform: rotateY(0deg) translateZ(300px);
    }
    .item2 {
        transform: rotateY(60deg) translateZ(300px);
    }
}

.section-tit {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 140px;
    height: 20px;
    overflow: hidden;
    background: url(../img/tit@2.png);
}

#section0 #mainQuoteAll {
    top: 450px;
    left: 270px;
  opacity: 0;
  transition: all 5s;
}
#section0.active{
  #mainQuoteAll.showMainQuoteAll{
    opacity: 1;
  }
}

#section1 {
    background: url(../img/damand_bg.png) center center;
    h1 {
        background: url(../img/tit-glsj.png) center center;
    }
    .s1-log {
        display: inline-block;
        position: absolute;
        margin: auto 0;
        left: 10%;
        top: 0;
        right: 0;
        bottom: 0;
        width: 360px;
        height: 256px;
        background: url(../img/s1_logo@2.png);
    }
    .s1-img {
        display: inline-block;
        position: absolute;
        margin: auto 0 auto 5%;
        left: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        width: 488px;
        height: 360px;
        background: url(../img/s1_img@2.png);
    }
    .s1-txt {
        position: absolute;
        left: 0;
        bottom: 5%;
        padding: 15px 5%;
        @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 220%);
        @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
    }
}

#section2 {
    background: url(../img/damand_bg.png) center center;
    h1 {
        background: url(../img/tit-tsyj.png) center center;
    }
    .board{
      opacity: 0;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 10%;
      width:30%;
      height:70%;
      padding:20px;;
      color:#fff;
      transform: translate(0, -50%);
      border:1px solid #929DD6;
      @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
      h2{
        margin-bottom: 1em;
         @include font-fsc1($f-sty: $fontYaHei, $fs: 1.8em, $fc: #fff, $f-lh: 220%);
      }
      p{
        @include font-fsc1($f-sty: $fontYaHei, $fs: 1.4em, $fc: #fff, $f-lh: 220%);
      }
      transition: all 0.5s;
    }
    .stage_layer {
        position: absolute;
        height: 500px;
        width: 500px;
        left: 13%;
        top: 20%;
        perspective: 1800px;
    }
    .contain {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 1s;
        border-radius: 5px;
        border:1px solid #8D71A9;
    }
    &.active {
        .board.cur{
          opacity: 1;
        }
        .contain {
            opacity: 1;
            transform: rotateX(54deg) rotateZ(-25deg);
        }
    }
    // .come-in {
    //     transform: rotateX(60deg) rotateZ(30deg);
    // }
    .item {
        @include box-sizing;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.8;
        transform: scale(1);
        transition: all 0.5s;
        border:1px solid #fff;
    }
    .item.cur{
        opacity: 1;
    }
    .item0 {
      transform: translateX(50px) translateZ(150px);
      background: url(../img/s2_img1.png) center center;
      background-size: contain;
    }
    .item0.cur{
        transform: scale(1.2) translateX(50px) translateZ(150px);
    }
    .item1 {
        background: yellow;
        transform: translateZ(0px);
    }
    .item1.cur{
        transform: scale(1.2) translateZ(0px);
    }
    .item2{
      background: red;
      transform: translateX(-50px) translateZ(-150px);
    }
    .item2.cur {
        transform: scale(1.2) translateX(-50px) translateZ(-150px);
    }
}

#section3 {
  background: url(../img/damand_bg.png) center center;
    h1 {
        background: url(../img/tit-yjzt.png) center center;
    }
    .tit-warning{
        height: 118px;
        text-align: center;
        @include font-fsc1($f-sty: $fontYaHei, $fs: 2.6em, $fc: #6D6879, $f-lh: 118px);
    }
    .zt-list{
         position: absolute;
         @include flexbox;
         @include flex-wrap($value: wrap);
         @include align-content($value: space-around);
         @include justify-content($value:space-between);
         top: 50%;
         left: 50%;
         width:80%;
         height:70%;
         overflow: hidden;
         transform: translate(-50%, -50%);
         li{
            width: 30%;
            height: 45%;
            text-align: center;
            .boxbg{
                padding:5%;
                height: 90%;
                // background:#231E2D;
                @include bgcolor-alpha($bgcolor: rgba(35, 30, 41, 0.6));
                .imgbox{
                    position:relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: url(../img/s3_img.png) center center;
                    background-size:100% 100%;
                    h4{
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top:0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 60px);
                        font-weight: normal;
                        text-shadow:5px 2px 6px #000;
                        letter-spacing:4px;
                         -webkit-transition: bottom 0.6s ease;
                         -moz-transition: bottom 0.6s ease;
                         -o-transition: bottom 0.6s ease;
                         transition: bottom 0.6s ease;
                         -webkit-transition: top 0.6s ease;
                         -moz-transition: top 0.6s ease;
                         -o-transition: top 0.6s ease;
                         transition: top 0.6s ease;

                    }
                    &:hover{
                        cursor: pointer;
                        h4{
                            top:10px;
                            bottom:inherit;
                        }
                    }
                }
            }
         } 

    }

}

$animateBorderColor: rgba(25, 30, 28, 0.5);
$pulsateSize: 12px;
$pulsateBigSize: 14px;
.contain-zt-list{
  position: absolute;
  left: 8%;
  right: 8%;
  top: 18%;
  bottom: 10%;
  text-align: center;
  .item{
    height: 40%;
    width: 27%;
    margin: 2% 2% 1%;
    display: inline-block;
    position: relative;
    background: url(../img/s3_img.png) center center;
    background-size: 100%;
    color: #ffffff;
    border: $pulsateSize solid rgba(25, 30, 28, 1);
    .item-inner{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }
    h4,p{
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.3s;
    }
    h4{
      height: 30px;
      line-height: 30px;
      font-size: 30px;
      top: 50%;
      margin-top: -15px;
    }
    p{
      padding: 20px 30px;
      background: rgba(255, 255, 255, 0.3);
      text-align: left;
      line-height: 20px;
      height: 80px;
      bottom: -120px;
    }
  }
  .item:after{
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .item:hover{
    -webkit-animation: pulsate-big 0.8s infinite ease-in-out alternate;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-timing-function: ease-out;
    h4{
      margin-top: -70px;
    }
    p{
      bottom: 0;
    }
  }
  .item:hover:after{
    -webkit-animation: pulsate 0.8s infinite ease-in-out alternate;
    -webkit-animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsate {
  from {
    box-shadow: 0 0 0 0 $animateBorderColor
  }
  to {
    box-shadow: 0 0 0 $pulsateSize $animateBorderColor
  }
}
@-webkit-keyframes pulsate-big {
  from {
    box-shadow: 0 0 0 0 $animateBorderColor
  }
  to {
    box-shadow: 0 0 0 $pulsateBigSize $animateBorderColor
  }
}

#section4 {
  background: url(../img/damand_bg.png) center center;
    h1 {
        background: url(../img/tit-ljtj.png) center center;
    }

}


#section5 {
  .s5-top{
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 8px;
    background: url(../img/s5_top_bg.png) repeat-x left top;
   }
   .s5-logo{
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 220px;
        height: 150px;
        background: url(../img/s1_logo@2.png);
        background-size:100% 100%;
   }
}

@import 'media';