@charset "UTF-8";
@import 'base';
@import 'function';
@import 'ext/btn';
@import 'ext/flexbox';
@import 'jquery.fullPage';
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

html,
body {
    position: relative;
    height: 100%;
}


.common_stage{
    display: none;
}
//ie
.three_stage_layer{
    position: absolute;
    width: 540px;
    height: 460px;
    left: 13%;
    top: 30%;
    perspective: 1800px;
    -ms-perspective: 1800px;
}
.three_contain{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    -ms-transform-style: none;
    transition: all 1s;
    -ms-transition: all 1s;
}
.swiper-slide-active{
    .three_contain{
        transform: rotateX(60deg) rotateZ(30deg);
        -ms-transform: none;
    }
}
.three_item{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0.8;
    transform: scale(1);
    -ms-transform: none;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.three_item:hover{
    opacity: 1;
}
.three_item0{
    background: red;
    transform: translateZ(-80px);
    background: url(../img/s2_img1.png) center center;
    background-size: contain;
}
.swiper-slide-active .three_item0{
    -ms-transform: rotateX(60deg) rotateZ(30deg) translateZ(-80px);
}
.three_item0:hover{
    transform: scale(1.1) translateZ(-80px);
    -ms-transform: scale(1.1) rotateX(60deg) rotateZ(30deg) translateZ(-80px);
}

.three_item1{
    transform: translateZ(0);
    background: url(../img/s2_img1.png) center center;
    background-size: contain;
}
.swiper-slide-active .three_item1{
    -ms-transform: rotateX(60deg) rotateZ(30deg) translateZ(0);
}
.three_item1:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1) rotateX(60deg) rotateZ(30deg) translateZ(0);
}

.three_item2{
    transform: translateZ(80px);
    background: url(../img/s2_img2.png) center center;
    background-size: contain;
}
.swiper-slide-active .three_item2{
    -ms-transform: rotateX(60deg) rotateZ(30deg) translateZ(80px);
}
.three_item2:hover{
    transform: scale(1.1) translateZ(80px);
    -ms-transform: scale(1.1) rotateX(60deg) rotateZ(30deg) translateZ(80px);
}

//edge
.ms-wrapper {
    position: absolute;
    width: 540px;
    height: 460px;
    left: 13%;
    top: 40%;
}
.ms-perspective {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
}
.ms-device {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;

}

.ms-screens > a {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0.8;
    outline: none;
    display: block;
}
.ms-effect-1 .ms-screens .ms-screen-1 {
    background: url(../img/s2_img2.png) center center;
    background-size: contain;
}
.ms-effect-1 .ms-screens .ms-screen-2 {
    background: url(../img/s2_img2.png) center center;
    background-size: contain;
}
.ms-effect-1 .ms-screens .ms-screen-3 {
    background: url(../img/s2_img1.png) center center;
    background-size: contain;
}
.swiper-slide-active{
    .ms-effect-1 .ms-device {
        -webkit-transform: rotateX(60deg) rotateZ(30deg);
        -moz-transform: rotateX(60deg) rotateZ(30deg);
        transform: rotateX(60deg) rotateZ(30deg);
    }
    .ms-effect-1 .ms-screens .ms-screen-1 {
        -webkit-transform: translateZ(80px);
        -moz-transform: translateZ(80px);
        transform: translateZ(80px);
    }
    .ms-effect-1 .ms-screens .ms-screen-2 {
        -webkit-transform: translateZ(160px);
        -moz-transform: translateZ(160px);
        transform: translateZ(160px);
    }
    .ms-effect-1 .ms-screens .ms-screen-3 {
        -webkit-transform: translateZ(240px);
        -moz-transform: translateZ(240px);
        transform: translateZ(240px);
    }
}
//edge end

.top-nav {
    //position: fixed;
    z-index: 9;
    width: 100%;
    height: 120px;
    font-family: 'Microsoft YaHei';
    background: #211E3C;
    //background: url('../img/top_bg.png') no-repeat center top;
   // @include bgcolor-alpha($bgcolor: rgba(24, 46, 77, 0.3));
    .tn-header {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 120px;
        margin: 0 auto;
        font-family: "Microsoft YaHei", "SimSun";
        color: #fff;
        .tn-logo {
            float: left;
            margin-left: 15px;
            height: 120px;
            line-height: 120px;
            overflow: hidden;
            span {
                display: inline-block;
                vertical-align: middle;
                width: 280px;
                height: 66px;
                overflow: hidden;
                background: url('../img/idx_nav.png') no-repeat;
            }
        }
        .tn-main {
            margin-right: 15px;
            float: right;
             padding: 40px 0;
            li {
                padding: 0 35px;
                float: left;
                position: relative;
                @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 40px);
                dl{
                    display: none;
                    position: absolute;
                    width: 100%;
                    left:0;
                    top: 40px;
                    padding: 2px 0 0;
                    dd{
                        background:rgba(44, 69, 86, 0.7);
                        padding:10px 5px;
                        text-align: center;
                       @include font-fsc1($f-sty: $fontYaHei, $fs: 15px, $fc: #fff, $f-lh:24px);
                       &:hover{
                           background: #4DC2E3;
                           cursor: pointer;
                       }
                    }
                    &:hover{
                         display: block; 
                    }
                }
                &:hover{
                   dl{
                       display: block; 
                    }
                }
                a {
                    color: #4DC2E3;
                    &:hover {
                        color: yellow;
                    }
                    i{
                        display: inline-block;
                        vertical-align: middle;
                        @include triangle(bottom, 6px, #4DC2E3 )
                    }
                }
                &.active {
                   background:#4DC2E3;
                   @include border-radius(22px);
                    a {
                        color: #fff;
                    }
                }
                &.regist {
                    padding: 0 15px;
                   border:1px solid #4DC2E3;
                   @include border-radius(22px);
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#canvasPIXI {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    opacity: 0;
}
.swiper-slide-active #canvasPIXI{
    opacity: 1;
}

.whfull {
    width: 100%;
    height: 100%;
}

.tit-warning {
    height: 118px;
    text-align: center;
    @include font-fsc1($f-sty: $fontYaHei, $fs: 2.6em, $fc: #fff, $f-lh: 118px);
}

.section-bottom-txt {
    position: absolute;
    left: 0;
    bottom: 5%;
    padding: 15px 5%;
    @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #141D43, $f-lh: 220%);
    @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
    color:#141D43 !important;
}

.section {
    background-size: cover;
    h1 {
        display: inline-block;
        position: absolute;
        left: 5%;
        top: 8%;
        width: 200px;
        height: 47px;
        overflow: hidden;
        background-repeat: no-repeat;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
    .next-ico{
      position:absolute;
      bottom:20px;
      left: 50%;
      display: inline-block;
      width: 46px;
      height: 35px;
      margin-left: -23px;
      cursor:pointer; 
      background:url(../img/next.png) no-repeat center center;
    }
}

#mainQuote {
    h4 {
       text-indent: -80px;
        font-size: 27px;
    }
    p {
       text-indent: 50px
    }
}

#section0 {
    //background-image: url(../img/s0_bg.png);
    //background-repeat: no-repeat;
    background: #211E3C;
    .line-color{
        position:absolute;
        display: block;
        bottom:0px;
        left: 0;
        width: 100%;
        height: 8px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#862aba+0,6262cb+23,6262cb+23,527cd3+36,38a6e0+43,207cca+68,00ff90+100 */
background: rgb(134,42,186); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(134,42,186) 0%, rgb(98,98,203) 23%, rgb(98,98,203) 23%, rgb(82,124,211) 36%, rgb(56,166,224) 43%, rgb(32,124,202) 68%, rgb(0,255,144) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(134,42,186) 0%,rgb(98,98,203) 23%,rgb(98,98,203) 23%,rgb(82,124,211) 36%,rgb(56,166,224) 43%,rgb(32,124,202) 68%,rgb(0,255,144) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(134,42,186) 0%,rgb(98,98,203) 23%,rgb(98,98,203) 23%,rgb(82,124,211) 36%,rgb(56,166,224) 43%,rgb(32,124,202) 68%,rgb(0,255,144) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#862aba', endColorstr='#00ff90',GradientType=1 ); /* IE6-9 */

    }
    #bg {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        opacity: 0
    }
    #mainQuoteAll {
        position: relative;
        width: 100%;
        height: 681px;
    }
    .mainQuotePosition{
        position:absolute;
        left: 50%;
        top:50%;
        height: 142px;
        margin-top: -71px;
        width: 100%;
        margin-left: -50%;
    }
    #mainQuoteHidden {
        overflow: hidden
    }
    #mainQuote {
       
        letter-spacing: 0;
        font-family: "Playfair Display";
        color: #fff;
        font-size: 27px;
        line-height: 30px;
        font-style: italic;
        text-align: center
    }
    .lineQuote {
        width: 75px;
        position: absolute;
        background-color: #a69382;
        height: 1px;
        opacity: 1
    }
    #lineQuote1 {
        left: 0;
        bottom: 8px
    }
    #lineQuote2 {
        right: 0;
        bottom: 8px
    }
    #lineQuote3 {
        left: 80px;
        bottom: 8px;
        width: 200px;
        opacity: 0
    }
    #secondQuote {
        position: absolute;
        font-family: pt_sans;
        color: #a69382;
        font-size: 11px;
        line-height: normal;
        font-style: normal;
        letter-spacing: 2.5px;
        text-align: center;
        width: 100%;
        bottom: 0
    }
    .stage_area-2d{
             position: absolute;
             width: 400px;
             height: 50%;
             margin:auto;
             top:0;
             bottom:0;
             right:13%;
             opacity: 0;
             transition: all 1s;
             overflow: hidden;
             background: rgba(0, 0, 0, 0.2);
      
             .pagination-stage {
                 position: absolute;
                 left: 0;
                 text-align: center;
                 bottom:5px;
                 width: 100%;
                 .swiper-pagination-switch {
                      display: inline-block;
                      width: 10px;
                      height: 10px;
                      border-radius: 10px;
                      background: #999;
                      box-shadow: 0px 1px 2px #555 inset;
                      margin: 0 3px;
                      cursor: pointer;
                    }
                .swiper-active-switch {
                      background: #fff;
                }
             }
            #stage_area1{
                background:  rgba(52, 49, 80, 0.2);
            }
             #stage_area2{
                background:  rgba(140, 114, 148, 0.2);
            }
             #stage_area3{
                background:  rgba(38, 121, 88, 0.2);
            }
             .swiper-container{
                    position:absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s;
                    .swiper-wrapper{
                        //padding:20px;
                        height: 100% !important;
                        .swiper-slide{
                            width: 100%;
                            h4 {
                                 padding:20px 20px 0;
                                 font-weight: normal;
                                 @include font-fsc1($f-sty: $fontYaHei, $fs: 22px, $fc: #7786C9, $f-lh:170%);
                            }
                            p {
                                padding:20px 20px;
                                @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #A7A6AB, $f-lh:200%);
                            }
                        }
                        
                    }
                }
                .swiper-container.cur{
                    opacity: 1;
                    visibility: visible;
                }
     }
    
    .stage_area {
        height: 800px;
        width: 900px;
        padding: 0 100px;
        position: absolute;
        bottom: 0;
        right: 20px;
        opacity: 0;
        transition: all 1s;
        overflow: hidden;
        .swiper-container{
            position: absolute;
            top: 10%;
            bottom: 10%;
            left: 100px;
            right: 100px;
            overflow: visible;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            .swiper-wrapper{
                height: 90%;
                width: 44.8%;
            }
        }
        .swiper-container.cur{
            opacity: 1;
            visibility: visible;
        }
        .swiper-slide{
            background: rgba(0, 0, 0, 0.2);
            border: 1px solid #34dbff;
            color: white;
            h4 {
                margin: 0;
                padding: 15px;
                //font-weight: normal;
                 @include font-fsc1($f-sty: $fontYaHei, $fs: 22px, $fc: #fff, $f-lh:170%);
            }
            p {
                margin: 0;
                padding: 0 15px;
                @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh:200%);
            }
        }
    }
    .container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 0.6s ease-out;
        opacity: 0;
        visibility: hidden;
    }
    .container.cur {
        opacity: 1;
        visibility: visible;
    }
    .item {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        font-size: 12px;
        color: white;
        background: #182746;
        border: 5px solid #147675;
        cursor: pointer;
    }
    .item0 {
        transform: rotateY(-60deg) translateZ(300px);
        -ms-transform: rotateY(-60deg) translateZ(300px);
        -moz-transform: rotateY(-60deg) translateZ(300px);
        -webkit-transform: rotateY(-60deg) translateZ(300px);
        -o-transform: rotateY(-60deg) translateZ(300px);
    }
    .item1 {
        transform: rotateY(0deg) translateZ(300px);
        -ms-transform: rotateY(0deg) translateZ(300px);
        -moz-transform: rotateY(0deg) translateZ(300px);
        -webkit-transform: rotateY(0deg) translateZ(300px);
        -o-transform: rotateY(0deg) translateZ(300px);
    }
    .item2 {
        transform: rotateY(60deg) translateZ(300px);
        -ms-transform: rotateY(60deg) translateZ(300px);
        -moz-transform: rotateY(60deg) translateZ(300px);
        -webkit-transform: rotateY(60deg) translateZ(300px);
        -o-transform: rotateY(60deg) translateZ(300px);
    }
}

.section-tit {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 140px;
    height: 20px;
    overflow: hidden;
    background: url(../img/tit@2.png);
}

#section0 #mainQuoteAll {
    opacity: 0;
    transition: all 5s;
}

#section0{
    .div-opacity{
        position: relative;
        opacity: 0;
        height: 100%;
    }
     &.swiper-slide-active,&.active  {
        .div-opacity {
            opacity: 1;
        }
    }
    #mainQuoteAll.showMainQuoteAll {
        opacity: 1;
    }
}
.square-bg{
   position:relative;
   opacity: 0;
   margin:0;
   height:90%;
   width: 96%;
   left:43%;
   top: 5%;
   margin-left: -41.3%;
   @include border-radius(8px);
   background: url(../img/damand_bg.png) center center #5ABBBF;
}

#section1 {
   // background: url(../img/damand_bg.png) center center #0A2F41;
   background:#211E3C;
  &.swiper-slide-active,&.active {
        .square-bg {
            opacity: 1;
        }
    }
    h1 {
        background: url(../img/tit-glsj.png) center center;
    }
    .s1-log {
        display: inline-block;
        position: absolute;
        margin: auto 0;
        left: 10%;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25%;
        height: 30%;
        background: url(../img/s1_logo@2.png) no-repeat center center;
        background-size:contain;
    }
    .s1-img {
        display: inline-block;
        position: absolute;
        margin: auto 0 auto 3%;
        left: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        padding:5% 0 0 10px;
        width: 40%;
        height: 80%;
        overflow: hidden;
        //background: url(../img/s1_img@2.png);
        li {
            position: relative;
            z-index: 1;
            float: left;
            margin: 0 2% 6% 2%;
            width: 17%;
            height: 18%;
            @include border-radius(5px);
            @include box-sizing;
            text-transform:none;
            -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s;
            background-size:contain !important;
            &:nth-of-type(1) {
                background:url(../img/s1_icon/1.png) no-repeat center center #EBC54A;
            }
            &:nth-of-type(2) {
                background:url(../img/s1_icon/2.png) no-repeat center center #DDDDDB;
            }
            &:nth-of-type(3) {
                background:url(../img/s1_icon/3.png) no-repeat center center #DE6A97;
            }
            &:nth-of-type(4) {
                background:url(../img/s1_icon/4.png) no-repeat center center #6695C5;
            }
            &:nth-of-type(5) {
               background:url(../img/s1_icon/5.png) no-repeat center center #C66251;
            }
            &:nth-of-type(6) {
               background:url(../img/s1_icon/6.png) no-repeat center center #EBC24E;
            }
            &:nth-of-type(7) {
               background:url(../img/s1_icon/7.png) no-repeat center center #497ABF;
            }
            &:nth-of-type(8) {
              background:url(../img/s1_icon/8.png) no-repeat center center #899FB4;
            }
            &:nth-of-type(9) {
               background:url(../img/s1_icon/9.png) no-repeat center center #CD5A5D;
            }
            &:nth-of-type(10) {
               background:url(../img/s1_icon/10.png) no-repeat center center #EA9959;
            }
            &:nth-of-type(11) {
              background:url(../img/s1_icon/11.png) no-repeat center center #727DCA;
            }
            &::before {
                content: '';
                position: absolute;
                // top: -20px;
                // left: -20px;
                // bottom: -20px;
                // right: -20px;
                @include box-sizing;
                background: inherit;
                border-radius:5px;
                z-index: -1;
                opacity: 0.4;
                -webkit-transform: scale3d(0.8, 0.5, 1);
                transform: scale3d(0.8, 0.5, 1);
            }
            &:hover {
                cursor: pointer;
                -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
                transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
                color: #ECEFF1;
                @include box-sizing;
                //background-color: #3f51b5;
                -webkit-animation: anim-moema-1 0.3s forwards;
                animation: anim-moema-1 0.3s forwards;
                &::before{
                    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
                    animation: anim-moema-2 0.3s 0.3s forwards;
                }
            }
        }
    }
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#section2 {
    background:#141D43;
    .square-bg{
        background: url(../img/damand_bg.png) center center #5480C7;
    }
     &.swiper-slide-active,&.active {
        .square-bg {
            opacity: 1;
        }
    }
    h1 {
        background: url(../img/tit-tsyj.png) center center;
    }
    .board {
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10%;
        width: 25%;
        height: 70%;
        padding: 20px;
        z-index: 9;
        color: #fff;
        transform: translate(0, -50%);
        border: 1px solid #929DD6;
        @include bgcolor-alpha($bgcolor: rgba(255, 255, 255, 0.3));
        .scroll-box{
            height: 100%;
             overflow-y: auto;
        }
        h2 {
            margin-bottom: 1em;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 1.8em, $fc: #fff, $f-lh: 220%);
        }
        p {
            @include font-fsc1($f-sty: $fontYaHei, $fs: 1.4em, $fc: #fff, $f-lh: 220%);
        }
        transition: all 0.5s;
    }
    .stage_layer2d{
        position: absolute;
        padding:20px 20px 20px;
        right: 45%;
        top: 50%;
        display: inline-block;
        width: 40%;
        height: 55%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050503+0,434343+49,2c2c2b+100 */
        background: rgb(5,5,3); /* Old browsers */
        background: -moz-linear-gradient(left,  rgb(5,5,3) 0%, rgb(67,67,67) 49%, rgb(44,44,43) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgb(5,5,3) 0%,rgb(67,67,67) 49%,rgb(44,44,43) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgb(5,5,3) 0%,rgb(67,67,67) 49%,rgb(44,44,43) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050503', endColorstr='#2c2c2b',GradientType=1 ); /* IE6-9 */
         @include border-radius(10px);
         transform: translate(0, -50%);
        .box{
            display:block;
            width: 100%;
            height: 100%;
            background:#fff;
            text-align: center;
            .swiper-container{
                height: 100%;
            }
            .swiper-pagination-bullet{
                background:#272222;
            }
            .swiper-pagination {
                position: absolute;
                left: 0;
                text-align: center;
                bottom:5px;
                width: 100%;
                }
                .swiper-pagination-switch {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #999;
                box-shadow: 0px 1px 2px #555 inset;
                margin: 0 3px;
                cursor: pointer;
                }
                .swiper-active-switch {
                background: #fff;
                }
        }
        .arrow-line{
            display: inline-block;
            position:absolute;
            right: -130px;;
            top: -40px;
            width: 160px;
            height: 68px;
            background:url(../img/s2_2d_arrow.png) no-repeat left top;
        }
    }
    .stage_layer {
        position: absolute;
        width: 540px;
        height: 460px;
        left: 13%;
        top: 18%;
        perspective: 1800px;
        -ms-perspective: 1800px;
    }
    .contain {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        -ms-transform-style: none;
        transition: all 1s;
        -ms-transition: all 1s;
        border-radius: 5px;
        border: 1px solid #8D71A9;
    }
    .item {
        @include box-sizing;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.8;
        transform: scale(1);
        -ms-transform: scale(1);
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        border: 1px solid #fff;
    }
    &.swiper-slide-active,&.active {
        .board.cur {
            opacity: 1;
        }
    }
}

#section3 {
    background:#211E3C;
    .square-bg{
        background: url(../img/damand_bg.png) center center #74B35B;
    }
     &.swiper-slide-active,&.active{
        .square-bg {
            opacity: 1;
        }
    }
    h1 {
        background: url(../img/tit-yjzt.png) center center;
    }
    .zt-list {
        position: absolute;
        @include flexbox;
        @include flex-wrap($value: wrap);
        @include align-content($value: space-around);
        @include justify-content($value: space-between);
        top: 50%;
        left: 50%;
        width: 80%;
        height: 70%;
        overflow: hidden;
        transform: translate(-50%, -50%);
        li {
            width: 30%;
            height: 45%;
            text-align: center;
            .boxbg {
                padding: 5%;
                height: 90%;
                // background:#231E2D;
                @include bgcolor-alpha($bgcolor: rgba(35, 30, 41, 0.6));
                .imgbox {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: url(../img/s3_img.png) center center;
                    background-size: 100% 100%;
                    h4 {
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 60px);
                        font-weight: normal;
                        text-shadow: 5px 2px 6px #000;
                        letter-spacing: 4px;
                        -webkit-transition: bottom 0.6s ease;
                        -moz-transition: bottom 0.6s ease;
                        -o-transition: bottom 0.6s ease;
                        transition: bottom 0.6s ease;
                        -webkit-transition: top 0.6s ease;
                        -moz-transition: top 0.6s ease;
                        -o-transition: top 0.6s ease;
                        transition: top 0.6s ease;
                    }
                    &:hover {
                        cursor: pointer;
                        h4 {
                            top: 10px;
                            bottom: inherit;
                        }
                    }
                }
            }
        }
    }
}

$animateBorderColor: rgba(190,228,255,0.5);
$pulsateSize: 12px;
$pulsateBigSize: 14px;
.contain-zt-list {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 18%;
    bottom: 10%;
    text-align: center;
    .item {
        height: 40%;
        width: 26%;
        margin: 2% 2% 1%;
        display: inline-block;
        position: relative;
        background: url(../img/s3_img.png) no-repeat center center;
        background-size: 100%;
        color: #ffffff;
        border: $pulsateSize solid rgba(167, 195, 151, 1);
        .item-inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
        }
        h4,
        p {
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.3s;
        }
        h4 {
            height: 30px;
            top: 50%;
            margin-top: -15px;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 30px, $fc: #fff, $f-lh: 30px);
            font-weight: normal;
            text-shadow: 5px 2px 6px #000;
            letter-spacing: 4px;
        }
        p {
            bottom: -120px;
            padding: 20px 30px;
            height: 80px;
            text-align: left;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 16px, $fc: #fff, $f-lh: 28px);
            background: rgba(255, 255, 255, 0.3);
        }
    }
    .item:after {
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
    .item:hover {
        -webkit-animation: pulsate-big 0.8s infinite ease-in-out alternate;
        -webkit-animation-delay: 0.5s;
        -webkit-animation-timing-function: ease-out;
        h4 {
            margin-top: -70px;
        }
        p {
            bottom: 0;
        }
    }
    .item:hover:after {
        -webkit-animation: pulsate 0.8s infinite ease-in-out alternate;
        -webkit-animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateSize $animateBorderColor
    }
}

@-moz-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateSize $animateBorderColor
    }
}

@-webkit-keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0 $animateBorderColor
    }
    to {
        box-shadow: 0 0 0 $pulsateBigSize $animateBorderColor
    }
}

#section4 {
    background:#211E3C;
    .square-bg{
        background: url(../img/damand_bg.png) center center #309ABB;
    }
     &.swiper-slide-active,&.active {
        .square-bg {
            opacity: 1;
        }
    }
    h1 {
        background: url(../img/tit-ljtj.png) center center;
    }
    .logic-switch {
        position: absolute;
        opacity: 0;
        left: 5%;
        top: 20%;
        bottom: 10%;
        width: 20%;
        text-align: center;
        .logic-switch-btn {
            display: block;
            width: 230px;
            ;
            margin: 18% auto 30px;
            height: 74px;
            border: 2px solid #fff;
            @include border-radius(40px);
            text-align: center;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 24px, $fc: #fff, $f-lh: 68px);
            cursor: pointer;
            &.active {
                color: #2DADD5;
                background: #fff;
            }
        }
    }
    .logic-imgs {
        position: absolute;
        opacity: 0;
        right: 5%;
        top: 18%;
        bottom: 10%;
        width: 70%;
        transition: all 0.5s;
        li {
            position: relative;
            margin: 2% 1%;
            padding: 1%;
            display: inline-block;
            width: 26%;
            // height:40%;
           // width:260px;
            height:240px;
            border: 1px solid #349CBC;
            @include bgcolor-alpha($bgcolor: rgba(248, 246,249, 0.4));
            .box {
                display: inline-block;
                height: 100%;
                width: 100%;
                color: #ffffff;
                // background: url(../img/s3_img.png) center center no-repeat;
                background-size: 100% 100%;
                text-align: center;
                .swiper-container {
                    width: 100%;
                    height: 100%;
                    .swiper-wrapper{
                        width: 100%;
                        height: 100%;
                        .swiper-slide {
                            position: relative;
                            background-position: center;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
                h4 {
                    position: absolute;
                    opacity: 0;
                    z-index: 1;
                    margin: auto;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 40px;
                    font-weight: normal;
                    letter-spacing: 4px;
                    @include font-fsc1($f-sty: $fontYaHei, $fs: 26px, $fc: #fff, $f-lh:40px);
                    webkit-transition: opacity 0.6s ease;
                    -moz-transition: opacity 0.6s ease;
                    -o-transition: opacity 0.6s ease;
                    transition: opacity 0.6s ease;
                    a{
                      color:#fff;
                      text-decoration: underline;  
                    }
                }
                h3 {
                    @extend h4;
                    opacity: 0;
                    bottom: -140%;
                    color: #fff;
                    webkit-transition: opacity 1.2s ease;
                    -moz-transition: opacity 1.2s ease;
                    -o-transition: opacity 1.2s ease;
                    transition: opacity 1.2s ease;
                }
                p {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    bottom: -70%;
                    opacity: 0;
                    text-align: left;
                    @include font-fsc1($f-sty: $fontYaHei, $fs: 18px, $fc: #fff, $f-lh: 160%);
                    webkit-transition: opacity 1.2s ease;
                    -moz-transition: opacity 1.2s ease;
                    -o-transition: opacity 1.2s ease;
                    transition: opacity 1.2s ease;
                }
                .swiper-slide-active {
                    h4 {
                        opacity: 1;
                    }
                    h3 {
                        opacity: 0;
                    }
                }
                // &:hover {
                //     .swiper-slide-active{
                //          h4 {
                //              opacity: 0;
                //          }
                //          p,
                //          h3 {
                //              opacity: 1;
                //          }

                //      }
                // }
            }
        }
        &.active {
            opacity: 1;
        }
    }
   &.swiper-slide-active,&.active {
        .logic-switch {
            opacity: 1;
        }
    }
}

#section5 {
    background: #1A062A;
    .div-opacity {
        position: relative;
        opacity: 0;
        height: 100%;
        .s5-top {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 8px;
            background: url(../img/s5_top_bg.png) repeat-x left top;
        }
        .s5-logo {
            display: inline-block;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 30%;
            height: 20%;
            background: url(../img/s1_logo@2.png) no-repeat center center;
            background-size: contain;
        }
        .weixin-img {
            position: absolute;
            top: 50%;
            left: 20%;
            width: 120px;
            height: 120px;
            overflow: hidden;
            text-align: center;
            background: #fff;
            img {
                padding: 10px 0 0;
            }
            @include border-radius(3px);
        }
        .txt-contact {
            position: absolute;
            top: 45%;
            left: 40%;
            @include font-fsc1($f-sty: $fontYaHei, $fs: 22px, $fc: #fff, $f-lh: 220%);
            h2 {
                margin-bottom: 15px;
                font-size: 22px;
                font-weight: normal;
            }
        }
    }
    &.swiper-slide-active,&.active{
        .div-opacity {
            position: relative;
            opacity: 1;
            height: 100%;
        }
    }
}

.pagination {
    position: absolute;
    z-index: 10;
    z-index: 20;
    right: 10px;
    top: 50%;
    text-align: center;
    .swiper-pagination-switch {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: #D0C4C4;
        margin: 0 0px 5px;
        opacity: 0.8;
        cursor: pointer;
    }
    .swiper-active-switch {
        background: #007aff;
    }
}

@import 'media';
@import "qiuqiu";